<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset hesla</title>
</head>
<body>

    <% if (locals.error) { %>
        <p style="color:red;"><%= error %></p>
    <% } %>

    <form action="/reset_password" method="POST">
        <input type="text" name="username" placeholder="Uživatelské jméno">
        <input type="password" name="password" placeholder="Nové heslo">
        <input type="password" name="confirm" placeholder="Potvrzení hesla">
        <input type="submit" value="Změnit heslo">
    </form>

</body>
</html>