.container{
    border: 10px solid black;
    display: flex;
    height: 200px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.rect{
    flex: 1 1 150px;
    background-color: red;
    margin: 10px;
    width: 150px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    color: white;
}

#rect1{
    flex-grow: 2;
    flex-shrink: 2;
    align-self: flex-start;
}

#rect2{
    align-self: flex-end;
}

#rect3{
    order: 3;
}
#rect4{
    order: 4;
   
}
#rect5{
    order: 5;
   
}

