.menu{
    background: linear-gradient(rgb(148, 68, 201), rgb(161, 113, 194), rgb(202, 153, 202));
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-between;
}

.menu a {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 1s ease;
}

.menu a:hover {
    background-color: #bfa0dd;
}

.video {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.obsah{
    font-size: 1.2em;
    margin-left: 10%;
}

.obsah-2{
    text-align: left;
    margin-right: 10%; 
    font-size: 1.2em;
}

.odkazy {
    text-align: center;
    margin-right: 10%;
}

.rozvrh {
    justify-content: center;
    display: grid;
    grid-template-columns: 
        120px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px;
    gap: 10px;
    margin: 20px;
}

.hodina {
    text-align: center;
    font-size: 14px;
}

.den {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.predmet {
    padding: 12px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
}

.dvojhodina {
    grid-column: span 2;
}

.nadpis {
    text-align: center;
}

.asw { background: #6aa2ff; }
.inf { background: #7b61ff; }
.ops { background: #ff6666; }
.anj { background: #7ad95c; }
.cit { background: #ffcf4d; }
.cjl { background: #b07cff; }
.prg { background: #5ba8ff; }
.ele { background: #eb5757; }
.msw { background: #6c63ff; }
.mat { background: #8b1a1a; }
.fyz { background: #272ae7; }
.vap { background: #d32f2f; }
.tev { background: #a1887f; }
.kyb { background: #ff8c42; }
.pos { background: #c0392b; }

@keyframes blikani {
    0% {transform: scale(1);}
    50% {transform: scale(1.10);}
    100% {transform: scale(1);}
}

.blikani {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    animation: blikani 2s infinite ease-in-out;
}

@media screen and (max-width: 900px) {

    .menu{
        flex-direction: column;
        padding: 20px 0;
        text-align: center;
    }

    .menu h1 {
        margin-bottom: 20px;
        font-size: 1.8em;
    }

    .menu a {
        display: block;
        width: 80%;
        margin: 5px auto;
        text-align: center;
    }
}
