.menu{
    background: linear-gradient(rgb(148, 68, 201), rgb(161, 113, 194), rgb(202, 153, 202));
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-between;
}


.obsah{
    font-size: 1.2em;
    margin-left: 10%;
}

.obsah-2{
    text-align: left;
    margin-right: 10%; 
    font-size: 1.2em;


}

.video {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.odkazy {
    text-align: center;
    margin-right: 10%;
}

