.vesmir{
    background-image: url("vesmir.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.zeme{
    
}

.venuse{
    
}

.merkur{
    
}

.mars{
    
}

.jupiter{
    
}

.uran{
    
}

.saturn{
    
}

.neptune{
    
}

.slunce{
    text-align: center;
    
}