<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/style.css">
</head>
<body>
    <h1>
        Ahoj
        <% if (locals.user) {%>
            <%= user.username %>
        <% } %>
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque quam, reprehenderit nihil odit modi hic inventore id illum eaque temporibus fugiat veniam non unde reiciendis optio. Quaerat, quo? Mollitia, quas.</p>
</body>
</html>