html{
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 1000px 150px;

    background-image: url("obrazek.jpg")
    


}